/*{
    margin: 0;
  padding: 0;
  background-color: rgba(115, 38, 131, 0.267);
  outline: none;
  box-sizing: border-box;

}*/
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgb(197, 146, 188);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #000,
                      5px 5px 12px #000;
                      display: grid;
                      grid-template-columns: repeat(4,60px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 240px;
    box-shadow: inset -5px -5px 12px rgb(144, 190, 235),
                      5px 5px 12px #000;
                      border: none;
                      border-radius: 30px;
                      font-size: 25;
                      color: rgb(11, 11, 11);
                      text-align: end;
                      margin: auto;
                      margin-top: 40px;
                      margin-bottom: 30px;
                      padding: 20px;
}

button{
    height: 40px;
    width: 40px;
    box-shadow: inset -5px -5px 12px rgb(144, 190, 235),
                      5px 5px 12px #000;
                      border: none;
                      border-radius: 50%;
                    font-size: medium;
                      color: rgb(11, 11, 11);
                      margin: 10px;
                      background-color: aqua;

                
}

